@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary-blue: #1e5eff;
  --color-primary-blue-hover: #1449cc;
  --color-light-blue: #eaf2ff;
  --color-border-light: #dbeafe;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
